<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- importerar include/layout -->
    <%-include("../includes/head.ejs")%>
    <link rel="stylesheet" href="/css/createPage.css" />
  </head>
  <body>
    <!-- importerar include/layout -->

    <%-include("../includes/nav.ejs")%>

    <main>
      <!-- om editing finns använd url, annars använda annan url -->
      <form
        action="/<% if (editing) { %>edit-todo<% } else { %>create-todo <% } %>"
        method="post"
      >
        <label for="titel">Titel:</label>
        <!-- om editing = true, sätt value till... -->
        <input
          type="text"
          name="titel"
          id="titel"
          placeholder="Titel:"
          value="<% if (editing) {%> <%=todo.titel%> <%}%>"
        />
        <label for="desc">Description:</label>
        <textarea
          placeholder="Description:"
          name="desc"
          id="desc"
          cols="30"
          rows="10"
        >
<% if (editing) {%> <%=todo.description%> <%}%></textarea
        >

        <% if (editing) {%>
        <label for="done">Is this todo done ? </label>
        <input
          type="text"
          id="done"
          name="done"
          placeholder="true/false"
          pattern="[Tt]rue|[Ff]alse"
        />

        <input type="hidden" value="<%=todo._id%>" name="todoId" />
        <input type="hidden" value="<%=todo.date%>" name="todoDate" />
        <input type="hidden" value="<%=todo.created%>" name="todoCreated" />

        <%}%>

        <button type="submit">Skapa</button>
      </form>
    </main>
  </body>
</html>
